.*.aux
*.glob
*.vo
*.#*#
\#*#
*.sw?
*.*~
*.pyc
*.vok
*.vos
*.vbak
*.bin
*.plugin
_build
*~
*.o
*.table
*.text
*.entry
*.patched
*.orig
*.map
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
*.cache
*.crashcoqide
